@import "tailwindcss";
@import "react-big-calendar/lib/css/react-big-calendar.css" layer(calendar);

body {
  margin: 0;
  min-height: 100vh;
}

.rbc-today {
  background-color: #eef6ff;
  border-right: 1px solid #ddd;
}

.rbc-allday-cell {
  display: none;
}

.rbc-time-view .rbc-header {
  border-bottom: none;
  padding: 12px 0;
  font-size: 0.95rem;
}

.rbc-time-header > .rbc-row > *:first-child,
.rbc-time-header .rbc-label {
  max-width: 50px;
  min-width: 50px;
  width: 50px;
  flex: 0 0 50px;
}

.rbc-time-gutter {
  max-width: 50px;
  min-width: 50px;
  width: 50px;
}


.rbc-time-gutter .rbc-timeslot-group .rbc-time-slot:last-child {
  display: none;
}

.rbc-time-gutter .rbc-timeslot-group .rbc-time-slot {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rbc-time-gutter .rbc-timeslot-group .rbc-time-slot .rbc-label {
  font-size: 0.875rem;
  font-weight: 600;
  color: #111827;
}

